/* .customCheckbox {
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: transparent !important;
    border-color: transparent !important;
    position: relative;
  }

  .ant-checkbox-checked::after {
    content: 'V';
    background: white;
    color: lightgreen;
    position: absolute;
    top: 2px;
    left: 4px;
  }
} */
